#googleMap {
  top: 10%;
  height: 85%;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

#map_form {
  float: right;
  top: 30px;
}

#map_form input {
  width: 600px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
